<div ng-controller="refillsController">
    <h4>Список заправок</h4>
    <button type="button" class="btn btn-primary" ng-click="onCreate($event)">
        <i class="fa fa-plus"></i> Добавить
    </button>
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="submitData()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" ng-if="!data.id">Добавление новой заправки</h4>
                        <h4 class="modal-title" ng-if="data.id">Редактирование заправки</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" ng-model="data.id">
                        <div class="form-group">
                            <label for="driver">Водитель</label><br>
                            <select ng-options="item.id as item.full_name for (key, item) in driver"
                                    ng-model="data.driver"
                                    id="driver" required="required" class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <label for="truck">Машина</label><br>
                            <select ng-options="item.id as item.number for (key, item) in truck"
                                    ng-model="data.truck" ng-readonly="data.id"
                                    id="truck" required="required" class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <label for="value">Количество</label>
                            <input type="text" class="form-control" id="value" placeholder="Количество"
                                   ng-readonly="data.cost"
                                   ng-model="data.value" required="required">
                        </div>
                        <div class="form-group">
                            <label for="cost">Стоймость за литр</label>
                            <input type="text" class="form-control" id="cost" placeholder="Стоймость за литр"
                                   ng-readonly="data.cost"
                                   ng-model="data.value" required="required">
                        </div>
                        <div class="form-group">
                            <label for="truck">Дата</label><br>
                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy"
                                       ng-model="data.date" is-open="opened" datepicker-options="dateOptions"

                                       ng-required="true">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" ng-disabled="form.$invalid">
                            Сохранить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Водитель
            </th>
            <th>
                Номер машины
            </th>
            <th>
                Количество
            </th>
            <th>
                Контроль
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in refills">
            <td>{{item.id}}</td>
            <td>{{driver[item.driver].full_name}}</td>
            <td>{{truck[item.truck].number}}</td>
            <td>{{item.value}}</td>
            <td>
                <a href="/transportation/delete/{{item.id}}" ng-click="onDelete($event)"
                   data-toggle="tooltip" title="Удаление">
                    <i class="fa fa-trash-o"></i>
                </a>
                <a href="/transportation/edit/{{item.id}}" ng-click="onEdit($event)" data-target="{{item.id}}"
                   data-toggle="tooltip" title="Редактирование">
                    <i class="fa fa-pencil"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
